/* src/components/Home.css */
/* Styles for the Home component */


.home {   
    display: flex;
    /* position: relative; */
    padding: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    
}

.home div {
    width: 50%;
    
}

.left{
    
    padding-left: 5%;
   
}
.right img{

    width: 70%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add border-radius for rounded corners */
    margin-top: -280px; /* Add spacing if needed */
    margin-left: 25%;
    
    
}

.home h4{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-right: 30%;
    line-height: 0;
    margin-top: 10%;
   
}

.home h1 {
    padding-top: 18%;
    font-size: 2.25rem;
    grid-template-rows: 100px 200px;
    grid-template-columns: 1fr 2fr;
    border-color: white;
    padding-right: 52%;
    padding-left: 3%;

    
   
   
}

.home h2 {
    font-size: 3.25rem;
    padding-right: 31%;
    margin-top: auto;
    padding-left: 11%;
   
   
   
}

.home p {
    font-size: 1.2rem;
    margin-top: -1%;
    margin-right: 19% ;
    padding-left: 12%;
    text-align: start;
    
}


.highlighted-text {
    background-image: linear-gradient(to right, rgb(246, 24, 61), lightblue);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 70px #fff;

}


.home .text-wrapper span {
   
    display: inline;
    line-height: 0;
    margin-top: 15%;
    background-image: linear-gradient(to right, rgb(246, 24, 61), lightblue);
    background-clip: text;
    color: transparent;
    text-shadow: 0 0 70px #fff;
    
  }
  
  
/* //////////////// for ipad///////////// */


    

/* Updated styles for the specific media query */
@media only screen and (min-width: 768px) and (max-width: 1440px) {
    .home {
      padding: 40px;
    }
  
    .home div {
      width: 50%;
    }
  
    .left {
      padding-left: 8%;
    }
  
    .right img {
      width: 70%;
      margin-top: -200px;
      margin-left: 25%;
    }
  
    .home h1 {
      padding-right: 52%;
      padding-left: 8%;
    }
  
    .home h2 {
      padding-right: 48%;
      padding-left: 8%;
      width:max-content ;
      
    }
  
    .home p {
      margin-right: -30%;
      text-align: start;
      padding-left: 55px;
    }
  }
  
